body
{
	background-color: #D1CCAB;
	font-family: verdana;
	font-size: 12px;
}


table 
{
    font-family: Verdana;
    font-size: 12px;
}

h1
{
	font-family: Verdana;
	font-size: 18px;
	color: #001A5B;
}

a
{
    text-decoration: none;
    color: #483d8b;
}

a:hover 
{
    text-decoration: underline;
}